<ion-content>

  <ion-button fill="clear" icon-only (click)="back()">
    <ion-icon name="arrow-back" color="dark"></ion-icon>
  </ion-button>

  <h1 class="rectangle">Tu es bientôt un héros !</h1>

  <p padding>Pas bien compliqué de rejoindre la ligue Gaïa ! Remplis les informations suivantes et démarre ta quête écologique ! ✨</p>

  <ion-input [(ngModel)]="name" placeholder="prénom_" style="width: 75vw; margin: auto; background: transparent; border-bottom: 2px solid lightgray;"></ion-input>
  <ion-input placeholder="adresse mail_" style="width: 75vw; margin: auto; background: transparent; border-bottom: 2px solid lightgray;"></ion-input>
  <ion-input [(ngModel)]="password1" type="password" placeholder="mot de passe_" style="width: 75vw; margin: auto; background: transparent; border-bottom: 2px solid lightgray;"></ion-input>
  <ion-input [(ngModel)]="password2" type="password" placeholder="répéter mot de passe_" style="width: 75vw; margin: auto; background: transparent; border-bottom: 2px solid lightgray;"></ion-input>

  <ion-radio-group [(ngModel)]="accountType">
    <ion-row>
      <ion-col>
        <ion-row class="center"> <img src="assets/icon/favicon.png" width="30px" /><br /> </ion-row>
        <ion-row class="center">
          <ion-label>Ramasseur</ion-label>
        </ion-row>
        <ion-row class="center">
          <ion-radio value="ramasseur"></ion-radio>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="center"> <img src="assets/icon/favicon.png" width="30px" /><br /> </ion-row>
        <ion-row class="center">
          <ion-label>Entreprise financeuse</ion-label>
        </ion-row>
        <ion-row class="center">
          <ion-radio value="entreprise"></ion-radio>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-radio-group>


  <div padding margin>
    <ion-checkbox></ion-checkbox> J'accepte que les informations saisies soient exploitées dans le cadre du mouvement Gaïa.
  </div>

  <ion-button color="tertiary" expand="block" size="large" (click)="inscription()" style="width: 75vw; display: block; margin: auto; margin-bottom: 20px;">Valider</ion-button>
</ion-content>