<div style="background-image: url('assets/fond-feuilles.jpg'); height: 100vh; background-size: cover;">

  <ion-button fill="clear" icon-only (click)="back()">
    <ion-icon name="arrow-back" color="light"></ion-icon>
  </ion-button>

  <h1 text-center>Inscription</h1>

      <ion-input [(ngModel)]="name" placeholder="identifiant_" style="width: 75vw; margin: auto; background: transparent; border-bottom: 2px solid white; color: whitesmoke;"></ion-input>
      <ion-input [(ngModel)]="password1" type="password" placeholder="mot de passe_" style="width: 75vw; margin: auto; background: transparent; border-bottom: 2px solid white; color: whitesmoke;"></ion-input>
      <ion-input [(ngModel)]="password2" type="password" placeholder="répéter mot de passe_" style="width: 75vw; margin: auto; background: transparent; border-bottom: 2px solid white; color: whitesmoke;"></ion-input>

    <ion-button color="light" expand="block" size="large" (click)="inscription()" style="width: 75vw; display: block; margin: auto;">Valider</ion-button>

</div>