<div style="height: 100vh;">
  <div style="background-image: url('assets/vague-profil.svg'); height: 230px; width: 100vw; position: absolute; top: 0; right: 0; background-repeat: no-repeat; z-index: -1;">

  </div>


  <ion-button fill="clear" icon-only (click)="back()">
    <ion-icon name="arrow-back" color="light"></ion-icon>
  </ion-button>

  <div>
    <img src="https://cache.cosmopolitan.fr/data/photo/w1000_ci/54/jeune-femme-blonde-lit-sereine-reflechit.jpg" alt="photo de profil" width="100px" height="100px" style="border-radius: 50%; margin-top: 50px; margin-left: calc(50% - 50px); background-size: contain;">
  </div>

  <h2 text-center>Julie {{userInfos.name}}</h2>
  <p text-center>Inscrit(e) le : {{userInfos.date}}</p>

  <ion-row>
    <img src="assets/pictos/feuille.svg" width="20px" style="margin: 0 10px;"> <b>{{userInfos.amountPoints}} point{{userInfos.amountPoints < 1 ? 's' : ''}}</b>
  </ion-row>

  <ion-row>
    <img src="assets/pictos/couronne.svg" width="20px" style="margin: 0 10px;"> <b>e au classement</b>
  </ion-row>

  <ion-row>
    <img src="assets/pictos/biceps.svg" width="20px" style="margin: 0 10px;"> <b>19 actions réalisées</b>
  </ion-row>

  <div style="margin-left: 20px;">
    <h1 class="rectangle">Historique</h1>
    <div *ngFor="let go of ['1','2','3']">
      <p>16/12/2019<br>
        Nettoyage collectif<br>
        <span style="border: 2px solid orangered; color: orangered; border-radius: 20px; padding: 3px;">+50pts</span></p>
    </div>
  </div>
</div>