<ion-content>

        <ion-button fill="clear" icon-only (click)="back()">
            <ion-icon name="arrow-back" color="dark"></ion-icon>
        </ion-button>
    
        <h1 class="rectangle">Mentions légales</h1>
    
        <p padding>Nous avons décidé de sauver le monde, et pas tout seuls ! En rejoignant notre ligue de citoyens responsables, vous contribuerez à un
            monde plus propre et pérenne.</p>
    
        <p padding>Établissez votre demande via le formulaire ci-dessous. Nous reviendrons rapidement vers vous !</p>
    
    </ion-content>