<ion-content>

    <ion-button fill="clear" icon-only (click)="back()">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>

    <h1 class="rectangle">Découvrez la ligue Gaïa</h1>

    <p padding>Halte là ! Si tu es arrivé sur cette page ce n’est pas par hasard, c’est qu’au fond de toi bouillonne déjà l’envie de sauver le monde ! 🦸🏿‍♂️</p>

    <p padding>Ok on se présente ; Gaïa est une jeune start-up qui a pour but de donner l’occasion aux jeunes d’agir pour la préservation de la planète, et ce à l’aide d’une carte interactive. Accessible publiquement, notre map permet de localiser des lieux recensés comme pollués et d’aller les nettoyer de façon individuelle ou en groupe pour gagner des points. 💸<br>
        Au fur et à mesure de ton ascension héroïque, tu as accès à des événements de plus grande ampleur, mais aussi à une super boutique où tu peux échanger tes points contre des récompenses !</p>

    <p padding>Maintenant que tu en sais un peu plus sur nous,
        nous espérons que tu es impatient de nous
        rejoindre ! Parce que ton action compte aussi !
        Nous sommes tous de potentiels héros de la
        nature, il suffit de prendre conscience de nos
        pouvoirs, et de se lancer ! La ligue n’attend que
        toi !</p>


        <ion-button color="tertiary" expand="block" size="large" (click)="inscription()" style="width: 75vw; display: block; margin: auto; margin-bottom: 20px;">Je rejoins la ligue !</ion-button>
</ion-content>
<img src="assets/cercle.svg" style="z-index: -1; position: absolute; bottom: 0;">
