<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Investir pour ce nettoyage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Grâce à vous, l'avenir sera meilleur</h2>

  <p>Investissez sur le nettoyage de cette zone afin de mobiliser un maximum d'adolescents qui feront de ce monde un monde plus propre !</p>

  <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
  <button
    style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em; margin: auto; display: block;"
    id="checkout-button-sku_FR3kvbqLPSnph3"
    role="link"
  >
    Investir pour l'avenir
  </button>

  <div id="error-message"></div>
</ion-content>
