<ion-content>

    <ion-button fill="clear" icon-only (click)="back()">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>

    <h1 class="rectangle">Mentions légales</h1>

    <p padding>Gaïa Inc. est une association à but un peu lucratif mais pas trop. Nous voulons changer le monde tout en se faisant un peu d'argent parce que ça reste quelque chose de cool d'autant plus que nous sommes dans un monde capitaliste donc à moins d'accepter de continuer à manger des pâtes toute notre vie il faut bien que nous nous fassions quelques deniers.</p>

    <p padding>Toutes les données entrées sur https://www.JoinGaia.fr seront enregistrées dans notre base de données OVH à vie et revendues super cher à des gens malintentionnés.</p>

    <p padding>Si vous ou un membre de votre famille désire supprimer ces données alors l'hippopotame ne trollera plus l'ours brun. Donc tu es vraiment descendu aussi bas dans les mentions légales ? Ton temps pourrait être bien plus optimisé.<br>
    
    En effet, chez Gaïa nous privilégions l'optimisation du temps de nos utilisateurs. C'est pourquoi nous les encourageons à cesser de lire ce texte futile. Là, tout de suite, vous pourriez vous arrêter (eh oui maintenant je vouvoie) et faire quelque chose de productif, quelque chose en quoi vous croyez et qui améliorera la vie d'au moins une personne, que ce soit vous ou celle d'une autre.</p>

    <p padding>
        C'est pourquoi il convient que vous vous posiez la question "qu'ai-je envie de changer dans ce monde, en quoi pourrais-je rendre ce monde meilleur ?". Peu importe à quoi vous pensiez, faites-le, vous avez assez perdu de temps comme ça et rester sans rien faire fera du vous une personne parfaitement banale et futile. Remarque, c'est déjà mieux qu'un parasite sociétal, mais vous pouvez viser bien plus haut.
    </p>


</ion-content>


<img src="assets/cercle.svg" style="z-index: -1; position: absolute; bottom: 0;">
