<div style="background-image: url('assets/fond-feuilles.jpg'); height: 100vh; background-size: cover;">

    <h1 text-center>Connexion</h1>

        <ion-input [(ngModel)]="name" placeholder="identifiant_" style="width: 75vw; margin: auto; background: transparent; border-bottom: 2px solid white; color: whitesmoke;"></ion-input>
        <ion-input [(ngModel)]="password" type="password" placeholder="mot de passe_" style="width: 75vw; margin: auto; background: transparent; border-bottom: 2px solid white; color: whitesmoke;"></ion-input>

      <ion-button color="light" expand="block" size="large" (click)="connexion()" style="width: 75vw; display: block; margin: auto;">Valider</ion-button>


    <ion-footer style="position: absolute; bottom: 5vh;" text-center>
        <p style="color: white;">Pas encore membre ?<br>Rejoins la communauté Gaïa dès maintenant !</p>
        <ion-button expand="block" size="large" routerLink="/inscription" style="width: 75vw; display: block; margin: auto;">Je m'inscris !</ion-button>
    </ion-footer>

</div>