<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
        <ion-title>PLUS</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <p> Ici gît la page pas encore commencée qui affichera des boutons pour lire nos CGU/À propos ainsi qu'une formulaire pour nous faire des
    offres de partenariat. </p>

  <!--   <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" startHour="6" endHour="20"
        step="30" startingDayWeek="1">
      </calendar> -->
</ion-content>