<div style="background-image: url('assets/fond-feuilles.jpg'); height: 100vh; background-size: cover; z-index: -2;">
  <!-- TODO : changer image en pré-floutée -->
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="light" (click)="back()">
      <img src="assets/pictos/croix.svg" width="50px">
    </ion-fab-button>
  </ion-fab>

  <div style="display: block; margin: 50% 10%;">
    <h2 class="rectangle bold" tappable (click)="goToApropos()">À propos</h2>
    <h2 class="bold" tappable (click)="goToPartenaires()">Partenaires</h2>
    <h2 class="bold" tappable (click)="goToCgu()">CGU</h2>
    <h2 class="bold" tappable (click)="goToMentions()">Mentions Légales</h2>
    <h2 class="bold" tappable (click)="deconnexion()" style="position: absolute; bottom: 50px;">Se déconnecter</h2>
  </div>
</div>