.rectangle::after {
    content: "";
    display: block;
    width: 48%;
    height: 31px;
    background-color: #45e6c6;
    position: relative;
    top: -40px;
    right: -13px;
    z-index: -1;
}

.bold {
    font-weight: bolder;
    height: 31px;
    font-size: 2em;
}