<ion-content>
  <ion-button fill="clear" icon-only (click)="back()">
    <ion-icon name="arrow-back" color="dark"></ion-icon>
  </ion-button>

  <h1 class="rectangle">Faites alliance avec la nature</h1>

  <p padding>
    Gaïa s'engage à faire de notre planète un lieu de vie durable et accueillant pour toutes les générations à venir. Si notre mouvement s'adresse essetiellement à nos jeunes pousses, vous aussi en tant qu'entreprise vous pouvez rejoindre la ligue et mettre vos valeurs zau profit de notre mouvement !
  </p>

  <p padding>
    Il vous suffit d'établir une demande via le formulaire suivant. Pensez à nous dire ce qui vous motive à nous rejoindre, c'est toujours plus engageant ! 🙂<br>
    Nous étudierons votre demande le plus rapidement possible et si votre projet nous a conquis, nous reviendrons vers vous pour convenir d'une entrevue et vous deviendrez officiellement un super-héros Gaïa ! 🦸🏿‍
  </p>

  <ion-item>
    <ion-select interface="popover" placeholder="Motif de la demande">
      <ion-select-option value="brown">Investissement</ion-select-option>
      <ion-select-option value="blonde">Simple coucou</ion-select-option>
      <ion-select-option value="black">Partenariat</ion-select-option>
      <ion-select-option value="red">Barbecue</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-input
    [(ngModel)]="nom"
    placeholder="nom_"
    style="width: 75vw; margin: auto; border-bottom: 1px solid lightgray; color: rgb(165, 165, 165);"
  ></ion-input>

  <ion-input
    [(ngModel)]="prenom"
    placeholder="prénom_"
    style="width: 75vw; margin: auto; border-bottom: 1px solid lightgray; color: rgb(165, 165, 165);"
  ></ion-input>

  <ion-input
    [(ngModel)]="entreprise"
    placeholder="entreprise/marque_"
    style="width: 75vw; margin: auto; border-bottom: 1px solid lightgray; color: rgb(165, 165, 165);"
  ></ion-input>

  <ion-input
    [(ngModel)]="site"
    placeholder="site internet_"
    style="width: 75vw; margin: auto; border-bottom: 1px solid lightgray; color: rgb(165, 165, 165);"
  ></ion-input>

  <ion-input
    [(ngModel)]="name"
    placeholder="Pourquoi nous ?_"
    style="width: 75vw; margin: auto; border-bottom: 1px solid lightgray; color: rgb(165, 165, 165);"
  ></ion-input>

  <div padding margin><ion-checkbox [(ngModel)]="checkbox"></ion-checkbox> J'accepte que mes données soient conservées</div>

  <ion-button
    color="light"
    expand="block"
    color="tertiary"
    style="width: 75vw; display: block; margin: auto; margin-bottom: 30px;"
    (click)="send()"
    >Envoyer</ion-button
  >
</ion-content>
