.rectangle::after {
    content: "";
    display: block;
    width: 78%;
    height: 31px;
    background-color: #45e6c6;
    position: relative;
    top: -43px;
    right: -13px;
    z-index: -1;
}

.rectangle {
    font-weight: bolder;
    font-size: 2.5em;
}

ion-content {
    --background: transparent; // you don't need to use a css custom property, but you can of course
    }