<ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
            <ion-title class="ion-text-center">Signalement d'un lieu</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2 class="ion-text-center">Photographiez le lieu sale</h2>

    <div style="text-align:center">
        <div>
                <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
                [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>

            <br />
            <ion-button icon-only class="actionBtn" (click)="triggerSnapshot();">
                <ion-icon name="camera"></ion-icon>
            </ion-button>

            <!-- <ion-button icon-only class="actionBtn" (click)="toggleWebcam();">
                <ion-icon name="refresh"></ion-icon> Changer de caméra
            </!-->

            <br />

        </div>
    </div>

    <div class="snapshot" *ngIf="webcamImage">
        <h2>Nice one!</h2>
        <img [src]="webcamImage.imageAsDataUrl" />
    </div>

    <!-- <h4 *ngIf="errors.length > 0">Messages:</h4>
    <ul *ngFor="let error of errors">
        <li>{{error | json}}</li>
    </ul> -->

      <ion-item>
            <ion-label>Description</ion-label>
            <ion-input></ion-input>
         </ion-item>

      <ion-list>
            <ion-item *ngFor="let file of mediaFiles" text-wrap>
                  {{ file.name }}
                  <p>{{ file.size / 1000 / 1000 | number }} MB</p>
                  <ion-button class="btncolor" (click)="play(file)">Lire</ion-button>
                </ion-item>
          </ion-list>

      <ion-button  class="btncolor" (click)="validate()">Valider</ion-button>


</ion-content>