// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// CSS pour popups map
// .customPopup .leaflet-popup-tip,
// .customPopup .leaflet-popup-content-wrapper {
//     background: #e93434;
//     color: #ffffff;
// }

.customPopup .leaflet-popup-content-wrapper a {
    border-radius: 8px;
    background-color: purple;
    color: white;
    padding: 5px;
}

ion-popover {
    .popover-content {
        width: 80% !important;
    }
}

@font-face {
    font-family: 'Avenir';
    src: url('assets/avenir.otf');
}

* {
    font-family: 'Avenir';
}